p {
    color: blue;
    text-align: left;
}
li {
    color:blue;
    text-align: left;
}
h1 {
    color: chocolate;
    font-size: 50px;
    font: arial;
    text-align: center;
}
body { 
    background-color: cornsilk;
}
h2 {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}